<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <div class="navbar">
       <h1>Techapedia</h1>
       <nav class="navBtn">
        <a href="/" id="home">Home</a>
        {{#if logged_in}}
        <a href="/dashboard" id="dash">DashBoard</a>
        <button  id="sign-out">Sign out</button>
        {{else}}
        <a href="/signin" id="dash">DashBoard</a>
        <a href="/signin" id="sign-in">Sign In</a>
        {{/if}}
       </nav> 
    </div>
    <main>
    {{{ body }}}
    </main>

{{#if logged_in}}
<script src="/public/js/signout.js"></script>
{{/if}}
</body>
</html>