<h1 class="title">{{message}}please log in</h1>

<div class="container">
    <form id="signin-form">
        <div>
        <label for="username">Username: </label>
        <input id="username" type="text"/>
        </div>
        <br>
        <div>
        <label for="password">&nbsp;Password: </label>
        <input id="password" type="password"/>
        </div>
        <br>
        <button type="submit" id="sign-in">Sign In</button>
        {{!-- <button type="submit" id="sign-up">I'm new here..</button> --}}
    </form>
    
</div>

<script src="../js/signIn.js"></script>
