<h1 class="title">Create a username and password to continue</h1>

<div class="container">
    <form id="signup-form">
        <div>
        <label for="newname">Username: </label>
        <input id="newname" type="text"/>
        </div>
        <br>
        <div>
        <label for="newpass">Password: </label>
        <input id="newpass" type="password"/>
        </div>
        <br>
        <button type="submit" id="create-account">Create account!</button>
    </form>
</div>

<script src="/js/signup.js"></script>