<h1 class="title">Dashboard</h1>
<div class="container">
<form class="title" id="updateblog" data-id="{{blog.id}}">
    <label for="post-title">Title</label>
    <input type="text" id="update-title" value="{{blog.title}}"/>
    <br>
    <label for="post-title">Post</label>
    <textarea name="post-text" id="update-text" cols="30" rows="10">{{blog.text}}</textarea>
    <br>
    <button type="submit">Update post</button>
</form>
</div>
<script src="/js/dashboard/update.js"></script>