
body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: larger;
}

.navbar {
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
h1 {
    margin-top: 0px;
}
.title {
    margin-top: 10px;
    text-align: center;
}
.navBtn {
    display: flex;
    padding: 0;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.navBtn > a {
    color: white;
    margin: 0 10px 5px 10px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;  
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding: 15px;
    background-color: black;
    color: white;
    width: 40%;
    border-radius: 5px;
    
}
#username, #password, #newname, #newpass {
    height: 30px;
    width: 65%;
    font-size: large;
    text-align: center;
}

#post-title {
    text-align: center;
    height: 20px;
}
#post-text {
height: 50px;
}

form > button {
    padding: 5px;
    margin: 5px;
    font-size: large;
}

.blog-container {
    border: 4px black solid;
    background-color: burlywood;
    border-radius: 2px;
    width: 65%;
    margin: auto;
}
.blog-title {
    border-bottom: 4px solid black;
}

#sign-out {
    font-family: monospace;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
   font-size: 14px;
   margin-bottom: 5px;
}

button {
    cursor: pointer;
}

#sign-up {
    font-size: 18px;
    padding: 5px;
    width: 30%;
    margin-top: 10px;
}